{
  "root": true,
  "extends": "eslint:recommended",
  "env": {
    "node": true,
    "es6": true
  },
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "babelOptions": {
      "plugins": [
        "@babel/plugin-syntax-import-assertions"
      ]
    },
    "sourceType": "module",
    "requireConfigFile": false,
  },
  "rules": {
    "comma-dangle": ["warn", "always-multiline"],
    "quotes": ["error", "double"],
    "brace-style": ["error", "stroustrup"],
    "no-var": 2,
  }
}
