{
  "root": true,
  "extends": "eslint:recommended",
  "env": {
    "node": true,
    "es6": true
  },
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "comma-dangle": ["warn", "always-multiline"],
    "quotes": ["error", "double"],
    "brace-style": ["error", "stroustrup"],
    "no-var": 2,
  }
}
